<ion-list>
  <ion-list-header>
    <ion-label>{{listName}}</ion-label>
  </ion-list-header>

  <ion-item button routerLink="/detail/{{book?.uid}}" *ngFor="let book of books | async">
    <ion-label>
      <h2>{{book.name}}</h2>
      <h3>{{book.author}}</h3>
    </ion-label>
    <ion-badge *ngIf="book.borrowerUid !== null" color="medium tint" mode="ios">&nbsp;</ion-badge>
  </ion-item>
</ion-list>

<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>{{listName}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list>
      <ion-item button routerLink="/detail/{{book?.uid}}" *ngFor="let book of books | async">
        <ion-label>
          <h2>{{book.name}}</h2>
          <p>{{book.author}}</p>
        </ion-label>
        <ion-badge *ngIf="book.borrowerUid !== null" color="medium tint" mode="ios">&nbsp;</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card> -->