<div *ngIf="books">

  <ion-list>

    <ion-list-header>
      <h5>
        {{listName}}
      </h5>
      <ion-button *ngIf="listName=='My Books'" routerLink="/addBookForm" fill="outline" class="ion-float-right ion-padding-end">
        add
      </ion-button>
    </ion-list-header>

    <div *ngIf="books">
      <ion-item button *ngFor="let book of books | async" routerLink="/detail/{{book?.uid}}" >
        <ion-label>
          <h2>{{book.name}}</h2>
          <p *ngIf="book.ownerName">{{book.ownerName}}</p>
          <p *ngIf="!book.ownerName"><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
        </ion-label>
        <ion-badge *ngIf="book.borrowerUid !== null" color="medium tint" mode="ios">&nbsp;</ion-badge>
      </ion-item>
    </div>

    <div *ngIf="!(books | async)">
      <ion-item *ngFor="let i of [].constructor(3)">
        <ion-label>
          <h2><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h2>
          <p><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="(books | async)?.length === 0">
      <ion-item>
        <ion-label>
          <p>No books here.</p>
        </ion-label>
      </ion-item>
    </div>


  </ion-list>

</div>

<!-- <ng-template #detail let-selectedBook>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{selectedBook?.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="fixed">Author:</ion-label>
          {{selectedBook?.author}}
        </ion-item>
        <ion-item *ngIf="selectedBook?.ISBM">
          <ion-label position="fixed">ISBN:</ion-label>
          {{selectedBook?.ISBN}}
        </ion-item>
        <ion-item *ngIf="selectedBook?.ownerUid">
          <ion-label position="fixed">Owner:</ion-label>
          {{selectedBook?.ownerName}}
        </ion-item>
        <ion-item *ngIf="selectedBook?.borrowerUid">
          <ion-label position="fixed">Borrower:</ion-label>
          {{selectedBook?.borrowerName}}
        </ion-item>
      </ion-list> -->

<!-- TODO: Check if book is borrowed. if yes, then disable the btn -->
<!-- <ion-button (click)="this.authService.borrowBook();" [disabled]="selectedBook?.borrowerUid !== null">Borrow book</ion-button> -->
<!-- TODO: Check if user borrow this book. if not, then disable the btn -->
<!-- <ion-button (click)="authService.returnBook();" fill="outline"
        [disabled]="selectedBook?.borrowerUid !== authService.userData?.uid">Return book</ion-button>
    </ion-card-content>
  </ion-card>
</ng-template> -->


<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>{{listName}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list>
      <ion-item button routerLink="/detail/{{book?.uid}}" *ngFor="let book of books | async">
        <ion-label>
          <h2>{{book.name}}</h2>
          <p>{{book.author}}</p>
        </ion-label>
        <ion-badge *ngIf="book.borrowerUid !== null" color="medium tint" mode="ios">&nbsp;</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card> -->