<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          <h1 *ngIf="selectedBook?.name">
            {{selectedBook?.name}}
            <ion-button routerLink="/edit/{{selectedBook?.uid}}" fill="outline" class="ion-float-right">Edit</ion-button>
          </h1>
          <h1 *ngIf="!selectedBook?.name"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h1>
        </ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="selectedBook && ownerName">
        <ion-item>
          <ion-label position="fixed">Author:</ion-label>
          <ion-label>
            <p>{{selectedBook?.author}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">ISBN:</ion-label>
          <ion-label>
            <p>{{selectedBook?.ISBN}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Owner:</ion-label>
          <ion-label>
            <p *ngIf="ownerName">{{ownerName}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Borrower:</ion-label>
          <ion-label>
            <p>{{borrowerName}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="!selectedBook || !ownerName">
        <ion-item>
          <ion-label position="fixed">Author:</ion-label>
          <ion-label>
            <p><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">ISBN:</ion-label>
          <ion-label>
            <p><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Owner:</ion-label>
          <ion-label>
            <p><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Borrower:</ion-label>
          <ion-label>
            <p><ion-skeleton-text animated style="width: 25%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- TODO: Check if book is borrowed. if yes, then disable the btn -->
      <ion-button (click)="borrowBook();" [disabled]="selectedBook?.borrowerUid !== null">Borrow</ion-button>
      <!-- TODO: Check if user borrow this book. if not, then disable the btn -->
      <ion-button (click)="returnBook();" fill="outline"
        [disabled]="selectedBook?.borrowerUid !== authService.userData?.uid">Return</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>