
<ion-content>
  
  <app-addbook-form></app-addbook-form>

  <ion-card>
    <ion-card-header>
      <ion-card-title>User Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of authService?.user | async | keyvalue">
          <ion-label>
            <h3>{{item?.key}}</h3>
            <p>{{item?.value}}</p>
          </ion-label>
          <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <app-books-list></app-books-list>

</ion-content>
