<ion-content>
  <h2>Hello, {{(authService.user | async)?.name}}!</h2>
  <!-- <h2>Hello, {{username?.name}}!</h2> -->

  <app-addbook-form></app-addbook-form>

  <h4>User info</h4>
  <ul>
    <li *ngFor="let item of authService.user | async | keyvalue">
      {{item.key}}: {{item.value}}
    </li>
  </ul>

  <h3>Books list</h3>
  <ul *ngFor="let book of bookService.books | async">
    <ul>
      <li *ngFor="let item of book | keyvalue">{{item.key}}: {{item.value}}</li>
    </ul>
  </ul>

  <ion-button (click)="authService.signOut()">Sigh out</ion-button>
</ion-content>